<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.som.db.OrderMapper">
	<select id="insertOrder" parameterType="OrderVO">
		INSERT INTO t_orders VALUES 
		( order_seq.nextval, #{user_seq}, (select count(*) from t_cart) , #{order_payment}, sysdate )
	</select> 
	<select id="insertRental" parameterType="CartVO">
		INSERT INTO t_rentals VALUES ( rental_seq.nextval, (SELECT order_seq FROM (SELECT order_seq FROM t_orders WHERE user_seq=#{user_seq} ORDER BY order_date DESC) WHERE rownum=1),
		#{product_seq},#{rental_quantity},#{rental_period},
		(SELECT (SELECT product_price FROM t_products WHERE product_seq={product_seq})*cart_quantity*(cart_period/7) rental_payment FROM t_cart WHERE product_seq=#{product_seq}),
		#{rental_address}, #{rental_user}, #{rental_phone}, null, sysdate);
	</select> 
</mapper>